[Desktop Entry]
Type=Application
Name=logdiag
GenericName=Schematic Editor
GenericName[cs]=Editor schémat
Icon=logdiag
Exec=logdiag %f
MimeType=application/x-logdiag-diagram;
Categories=Graphics;VectorGraphics;Electricity;Engineering;GTK;
