[Desktop Entry]
Type=Application
Name=logdiag
GenericName=Schematic Editor
GenericName[cs]=Editor schémat
GenericName[sk]=Editor schém
GenericName[pl]=Edytor schematów
GenericName[de]=Schema Editor
Icon=logdiag
Exec=logdiag %f
StartupNotify=true
MimeType=application/x-logdiag-diagram;
Categories=Graphics;VectorGraphics;Electricity;Engineering;GTK;
