[Desktop Entry]
Type=Application
Name=logdiag
GenericName=Electric diagrams designer
GenericName[cs]=Návrhář elektrických diagramů
Icon=logdiag
Exec=logdiag %f
Categories=Graphics;VectorGraphics;Electricity;Engineering;GTK;

